 dialog {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
 }

 ::backdrop {
    background-color: rgba(138, 89, 89, 50%);
 }