:root {
    --primary-color-blue: #070aaa;
    --primary-color-red: #781118;
    --background-color1: aliceblue;
    --border-color: #c8c1c1;
    --border-color1: #BDB5B5;
    --background-color: #f2f2f2;
}

* {
    font-family: "Josefin", sans-serif;
    box-sizing: border-box;
}
/*************** header and nav *****************/
header {
    background-color: var(--background-color1);
    width: 100%;
}
header .first-div-header {
    background-color: var(--background-color1);
    display: grid;
    align-items: end;
    padding: 3px 0 3px 0;
    margin: 0 10px 0 10px;
    border-bottom: 1.5px solid var(--border-color1);
    justify-content: space-between;
}

header .div-logo {
    display: grid;
    grid-template-columns: 90px auto;
    align-items: end;
    column-gap: 8px;
    background-color: var(--background-color1);
    padding-left: 8px;
}

header img {
    width: 100%;
    max-width: 5rem;
    height: auto;
}

header span {
    font-size: 35px;
    color: var(--primary-color-red);
    text-align: left;
    align-items: end;
    padding-bottom: 0;
    margin-bottom: 0;
}

header .div-nav {
    grid-column: 7/13;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: end;
}

 nav li {
    list-style: none;
    margin-top: 5px;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--border-color1);
 }

 nav ul {
    width: 100%;
    max-width: 1600px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px;
    padding: 0 5px;
 }

 nav a {
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    padding: 2px 5px;
    color: var(--primary-color-red);
 }

 /*======================== hamburber ===================*/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2.5rem;
    color: var(--primary-color-blue);
}

/******************************    *****************************/

.hamburger.show::after {
    content: "\00D7";
    font-size: 2.5rem;
    color: var(--primary-color-red);
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    justify-items: center;
    text-align: left;
    text-decoration: none;
    margin: 0 2px;
}

.moon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30px;
    height: 30px;
    max-height: 30PX;
    border: 2px solid var(--border-color1);
    border-radius: 50%;
}

.div-nav .moon .first-part {
    background-color: var(--border-color1);
    border: var(--border-color1);
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    width: 15px;
    height: 100%;
    align-self: center;
}


header button {
    width: 48px;
    height: 48px;
}

.navigation .nav-ul .way {
    background-color: brown;
    color: #fff;
    border-left: 5px solid var(--border-color1);
    border-top: 5px solid var(--border-color1);
    border-right: 5px solid var(--border-color1);
    border-radius: 5px;
    border-bottom: 5px solid var(--primary-color-blue);
}


/*********************** main ***********************/

main {
    width: 100%;
    background-color: var(--background-color1);
}

/********************** hero image *****************/

.hero-box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--background-color1);
}

.hero-box img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.call-action {
    position: absolute;
    margin-top: 1rem;
    margin-left: 15rem;
    width: 100%;
    text-align: center;
    align-content: center;
    max-width: 200px;
    min-width: 100px;
    height: 100%;
    max-height: 44px;
    font-size: 20px;
    border: 3px solid gold;
    border-radius: 50%;
    background-color: var(--background-color1);
    font-weight: 800;
}

.call-action a {
    text-decoration: none;
    color: var(--primary-color-red);
    width: 100%;
    padding: 2px 53px;
}

.call-action a:hover {
    color: var(--primary-color-blue);
}

.call-action:hover {
    background-color: aqua;
}

h1 {
    width: 100%;
    max-width: 1600px;
    justify-self: center;
    margin: 0 10px;
    background-color: var(--background-color1);
    padding-left: .8rem;
    padding-top: 15px;
    color: var(--primary-color-red);
}
/**************** Switch display **********************/
.switch-display {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-color: var(--background-color1);
    margin: 0 8px;
}


.switch-display button {
    width: 44px;
    height: 44px;
    border: 1px solid var(--border-color1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 600;
}

.cards {
    width: 100%;
    max-width: 1600px;
    justify-self: center;
}


#cards.cards.display-list {
    display: grid;
    grid-template-columns: 1fr;
}

#cards.cards.display-list .slot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    text-align: left;
}

#cards.cards.display-list .slot img {
    display: none;
}

#cards.cards.display-list .slot .status-p {
    display: none;
}

#cards.cards.display-list .slot h2 {
    padding: 0;
    padding-left: 8px;
}

#cards.cards.display-list .slot .url {
    padding: 0 10px;
}

button.blue {
    color: var(--primary-color-blue);
}

/**************** cards ********************/
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10px 0 10px;
    background-color: var(--background-color1);
    grid-gap: 20px;
    padding: 12px;
}

/*********************** News div styling ******************/
.news {
    display: grid;
    width: 100%;
    max-width: 1580px;
    justify-self: center;
    column-gap: 12px;
    text-align: left;
    margin: 0 12px;
    padding-left: 10px;
    padding-right: 10px;
}


.news section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    background-color: #dad7d7;
    border-radius: 5px;
    margin-bottom: 8px;

}

.current-w > h2, .eventBox > h2, .forecast > h2 {
    height: 44px;
    grid-column: 1/4;
    align-content: center;
    padding-left: 12px;
    margin-top: 0;
    background-color: var(--primary-color-blue);
    color: var(--background-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.award-card {
    width: 100%;
}

.award-card h3, .award-card span, .award-card strong {
    width: 100%;
}
.weather-logo {
    grid-column: 1/2;
}

.current-w h3 {
    height: 14px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
}
.weather-info p {
    margin: 5px;
}

.forecast .more-forecast {
    grid-column: 1/4;
    margin: 0 12px;
    padding: 0 8px;
}
 .event-cards {
    margin: 0 12px;
    grid-column: 1/4;
 }

@media screen and (max-width: 1000px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #cards.cards.display-list .slot {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 0;
    }

    #cards.cards.display-list .slot .status-p {
        display: block;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 685px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*************************** slot styling ************************/
.slot {
    background-color: var(--background-color);
    padding: 20px 0 20px 0;
    text-align: center;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 5px 5px 3px 3px var(--border-color1);
}

.slot h2 {
    color: var(--primary-color-blue);
    text-align: center;
}

.slot img {
    width: 180px;
    align-self: center;
}


@media screen and (max-width: 520px) {
    button.hamburger {
        display: none;
    }
    .navigation {
        display: block;
    }
    
    .slot {
        text-align: center;
    }
}


/************************** footer ******************************/

footer {
    width: 100%;
    text-align: center;
    background-color: var(--background-color1); 
    font-size: 22px;
}

footer p {
    width: 100%;
    max-width: 1600px;
    justify-self: center;
}