@media screen and (min-width: 64rem) {
    header {
        display: flex;
    }
    header img {
        margin: 10px;
    }

    header span {
        margin-top: 30px;
    }

    header .hambtn {
        margin-right: 1rem;
    }

    .home-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .home-cards span {
        grid-column: 1/4;
        font-size: 28px;
    }
/***************** Products ******************/

    .products h2 {
        grid-column: 1/3;
    }

    .products .card {
        grid-template-areas:
        "picture head"
        "picture para"
        ;
        animation: productCardsAnimation 2s ease-in-out infinite alternate;
    }

    
/******************* Contact page*********************/

    .contact-div {
        display: grid;
        grid-template-areas: 
        "form more";
    }

    .radio-btn {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: .8rem;
    }
}
