:root {
    --purple-color: #4C115F;
    --light-blue: #CEE9EE ;
    --dark-red: #500202;
    --bright-red: #c52020;
    --blue-color: #1b007a;
    --actionbtn-txt: #ffffff;
    --common-border: 1px solid grey;
}

* {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: var(--common-border);
    border-radius: 12px;
    background-color: var(--light-blue);
}

header img {
    width: 90px;
    text-align: center;
    grid-column: 1/8;
}

header hr {
    height: 2px;
    width: 100%;
    grid-column: 1/8;
    border: var(--common-border);
}

header span {
    grid-column: 1/7;
    font-size: 44px;
    margin: 0 0 0 12px;
    color: var(--bright-red);
}



.hambtn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50px;
    height: 50px;
    margin-top: 35px;
    grid-column: 7/8;
}

.hambtn::after {
    content: "\2630";
    font-size: 2.5rem;
    color: var(--blue-color);
}

/******************************    *****************************/

.hambtn.show::after {
    content: "\00D7";
    font-size: 2.5rem;
    color: var(--bright-red)
}

.navigation {
    display: none;
    height: 38px;
    background-color: var(--purple-color);
    color: var(--actionbtn-txt);
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 44px;
}

.navigation li {
    list-style-type: none;
    height: 44px;
}

.navigation a {
    color: var(--actionbtn-txt);
    font-size: 25px;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 0;
    height: 44px;
}

.navigation ul .way {
    background-color: var(--actionbtn-txt);
    color: var(--dark-red);
    border-bottom: 8px solid var(--bright-red);

}

.navigation.navshow {
    display: block;
    justify-items: center;
    text-align: left;
    text-decoration: none;
    margin: 0 2px;
}

.home-main {
    border: var(--common-border);
}

.hero-box-nner {
    position: relative;
}

.actionBtn {
    position: absolute;
    width: 150px;
    top: 24%;
    left: 59%;
    font-size: 22px;
    background-color: var(--bright-red);
    color: var(--actionbtn-txt);
    border: 2px solid var(--blue-color);
    border-radius: 10px;
}

h1 {
    padding-left: 12px;
    color: var(--bright-red);
}

p{
    font-size: 24px;
    padding: 12px;
    background-color: var(--light-blue);
}

.home-cards {
    border-top: var(--common-border);
    justify-items: center;
    background-color: var(--light-blue);
    padding: 12px;
}

.home-cards span {
    font-size: 22px;
    color: var(--bright-red);
}

.home-cards section {
    text-align: center;
    border: var(--common-border);
    border-radius: 12px;
    margin-top: 15px;
    
}

.job-section h2 {
    color: var(--blue-color);
    font-size: 30px;
}

.home-cards img {
    max-width: 300px;
    height: 200px;
}

footer {
    display: grid;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer p {
    text-align: center;
    font-size: 22px;
}

footer .social {
    display: flex;
    flex-direction: row;
}


