:root {
    --purple-color: #4C115F;
    --light-blue: #CEE9EE ;
    --dark-red: #500202;
    --bright-red: #c52020;
    --blue-color: #1b007a;
    --actionbtn-txt: #ffffff;
    --common-border: 1px solid grey;
}

* {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: var(--common-border);
    border-radius: 12px;
    background-color: var(--light-blue);
    padding-top: 10px;
}

header img {
    width: 90px;
    text-align: center;
    grid-column: 1/8;
}

header hr {
    height: 2px;
    width: 100%;
    grid-column: 1/8;
    border: var(--common-border);
}

header span {
    grid-column: 1/7;
    font-size: 44px;
    margin: 0 0 0 12px;
    color: var(--dark-red);
    padding-top: 30px;
}



.hambtn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50px;
    height: 50px;
    margin-top: 35px;
    grid-column: 7/8;
}

.hambtn::after {
    content: "\2630";
    font-size: 2.5rem;
    color: var(--blue-color);
}

/******************************    *****************************/

.hambtn.show::after {
    content: "\00D7";
    font-size: 2.5rem;
    color: var(--bright-red)
}

.navigation {
    display: none;
    height: 38px;
    background-color: var(--purple-color);
    color: var(--actionbtn-txt);
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 44px;
}

.navigation li {
    list-style-type: none;
    height: 44px;
}

.navigation a {
    color: var(--actionbtn-txt);
    font-size: 23px;
    text-decoration: none;
    height: 44px;
}

.navigation ul .way {
    background-color: var(--actionbtn-txt);
    color: var(--dark-red);
    border-bottom: 8px solid var(--bright-red);

}

.navigation.navshow {
    display: block;
    justify-items: center;
    text-align: left;
    text-decoration: none;
    margin: 0 2px;
}

.home-main {
    border: var(--common-border);
}

.intro-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.actionBtn {
    grid-column: 5/6;
    width: 180px;
    height: 44px;
    font-size: 28px;
    font-weight: 600;
    background-color: var(--bright-red);
    color: var(--actionbtn-txt);
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    margin-right: 12px;
    cursor: pointer;
}

h1 {
    grid-column: 1/5;
    padding-left: 12px;
    color: var(--dark-red);
}

.intro-div p {
    grid-column: 1/6;
}

p{
    font-size: 22px;
    padding: 12px;
    background-color: var(--light-blue);
}

.home-cards {
    border-top: var(--common-border);
    justify-items: center;
    background-color: var(--light-blue);
    padding: 12px;
}

.home-cards span {
    font-size: 22px;
    color: var(--bright-red);
}

.home-cards section {
    text-align: center;
    border: var(--common-border);
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 1px 1px 8px 4px var(--purple-color);
    padding-top: 10px;
    
}

.job-section h2 {
    color: var(--blue-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.home-cards img {
    max-width: 300px;
    height: 200px;
}

footer {
    display: grid;
    padding: 12px;
    background-color: var(--light-blue);
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer p {
    text-align: center;
    font-size: 22px;
    font-family: "Lato", sans-serif;
}

footer .social {
    display: flex;
    flex-direction: row;
}

.wireframe-box ol { 
    display: flex;
    flex-direction: row;
    grid-column-gap: 3rem;
    list-style-type: none;
}

.wireframe-box ol li a {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--dark-red);
    border: 2px solid var(--common-border);
    border-radius: .5rem;
    color: var(--actionbtn-txt);
    font-family: "Lato", sans-serif;
}

.wide {
    text-align: right;
}

/***********************Products*************************/

.products section {
    display: flex;
    flex-direction: column;
    grid-gap: 1.5rem;
    background-color: var(--light-blue);
    border: var(--common-border);
    padding: 1.5rem;
    border-radius: 12px;
}

.products section h2 {
    font-size: 28px;
    color: var(--dark-red);
}

@keyframes productCardsAnimation {
    to {
        background-color: rgb(153, 206, 239);
    }
}

.products .card {
    display: grid;
    grid-template-areas: 
    "head"
    "para"
    "picture"
    ;
    border: var(--common-border);
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 4px var(--purple-color);
    
}

.products h3 {
    grid-area: head;
    font-size: 24px;
    padding-top: 10px;
    border-bottom: var(--common-border);
    color: var(--dark-red);
    animation: productCardsAnimation 2s ease-in-out infinite alternate;
}

.products p {
    grid-area: para;
}

.products img {
    grid-area: picture;
    width: 300px;
    height: 200px;
}

footer .w3c {
    width: 88px;
    height: 31px;
    margin-bottom: 1.5rem;
    text-align: center;
}