:root {
    --title-color: #3C096C;
    --header-font: verdana, Geneva, Tahoma, sans-serif;
    --veryLight-grey: #ddd;
}

/* This css file will be applied when the screen is 38rem(16 * 38 = 608px) and above */
@media only screen and (min-width: 650px) {
    header, main, nav, footer {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 100px auto;
    }

    header span {
        font-size: 2.5rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #adf;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 10px 30px;
        margin: 0 auto;
        align-items: center;
        background-color: #adf;
        border-bottom: 1px solid #000;
    }

    .course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }

    main h1 {
        text-align: center;
    }

    .courses-section p, .personal-info p {
        text-align: center;
        line-height: 1.5rem;
    }

    .courses-section h2, .personal-info h2 {
        text-align: center;
        margin-bottom: .2rem;
    }

    .course-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .course-box h3 {
        grid-column: 1/3;
        text-align: center;
        margin-left: 30px;
    }

.course-box div div {
        height: auto;
        min-height: 57px;
        font-size: auto;
    }

    .course-box p {
        line-height: 24px;
    }
    .course-box .total-courses, .total-credit {
        grid-column: 1/3;
        background-color: green;
        margin: 30px;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        padding: 5px 0;
        border: 2px solid #000;
        border-radius: 5px;
    }
}
