:root {
    --title-color: #3C096C;
    --header-font: verdana, Geneva, Tahoma, sans-serif;
    --veryLight-grey: #ddd;
}

/* This css file will be applied when the screen is 38rem(16 * 38 = 608px) and above */
@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 44px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
        margin-left: -2.2rem;
        align-items: center;
    }

    
}
