:root {
    --title-color: #3C096C;
    --header-font: verdana, Geneva, Tahoma, sans-serif;
    --veryLight-grey: #ddd;
}

/* This css file will be applied when the screen is 38rem(16 * 38 = 608px) and above */
@media only screen and (min-width: 860px) {
    nav, footer {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        width: 100%;
        max-width:1600px;
        margin: 0 auto;
        grid-column-gap: 8rem;
    }
    
     header span {
        text-align: left;
     }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #adf;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 22px;
        width: 100%;
        padding: 10px 30px;
        margin: 0 auto;
        align-items: center;
        background-color: #adf;
        border-bottom: 1px solid #000;
    }

    .navigation ul a {
        font-size: 1.2rem;
        font-weight: 420;
        background-color: #adf;
    }

    main {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    main h1 {
        text-align: left;
        grid-column: 1/4;
        margin-left: 30px;
    }

    .course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }

    .personal-info {
        grid-column: 1/3;
        border: 1px solid grey;
        border-radius: 5px;
    }

    .student-photo {
        border: 1px solid grey;
        border-radius: 5px;
    }



    .courses-section {
        grid-column: 1/4;
        margin-top: 30px;
    }

    .courses-section p, .personal-info p {
        text-align: center;
        line-height: 1.5rem;
    }

    .courses-section h2 {
        text-align: center;
    }

     .personal-info h2 {
        text-align: center;
        padding: 0;
     }

    .course-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .course-box h3 {
        grid-column: 1/4;
        text-align: center;
        margin-left: 30px;
    }

.course-box div div {
        height: auto;
        min-height: 57px;
        font-size: 1.2rem;
    }

    .course-box p {
        line-height: 24px;
    }
    .course-box .total-courses, .total-credit {
        grid-column: 1/4;
        background-color: green;
        margin: 30px;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        padding: 5px 0;
        border: 2px solid #000;
        border-radius: 5px;
    }
}
