:root {
    --border-line: 1px transparent grey;
    --background-color: #abc;
}

* {
    box-sizing: border-box;
}

main {
    background-color: rgb(216, 222, 230);
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: 5px 5px 5px 1px lightblue;*/
}

main div {
    display: grid;
    border: 12px #bbb solid;
    background-color: #bbb;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
    gap: .5rem;
}

section {
    background-color: lightblue;
    align-items: center;
    border: 2px solid darkblue;
    padding-right: 1rem;
    padding-left: 1rem;
}

img {
    box-shadow: 5px 5px rgb(155, 172, 204);
}

h1 {
    color: rgb(62, 62, 165);
    text-align: center;
    font-size: 3rem;
    margin-bottom: -.5rem;
    font-family: "Sofia", sans-serif;
}

h2 {
    color: rgb(62, 62, 165);
    text-align: center;
    font-size: 1.6rem;
    font-family: "Sofia", sans-serif;
}

p {
    font-size: 18px;
    margin: 0;
}
img {
    margin: 8px;
}

footer {
    text-align: center;
    padding: 4rem 0;
}

footer p {
    font-size: 1.6rem;
    font-family: "Sofia", sans-serif;
    color: rgb(62, 62, 165);
}